<div class="container">
    &copy; 2025 - <a href="https://github.com/KobMiles/AspNetCore-MVC-NLayer-Template">Template</a> by <a href="https://github.com/KobMiles">KobMiles</a> -
    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>